@use "../../styles/styles" as var;

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %headings !optional;
}

.container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;

  .coverImg {
    position: relative;
    background-color: #e6e6e6;
    height: 40vh;
    max-height: 320px;
    overflow: hidden;

    &[data-loading="false"]::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: hsla(155, 72%, 49%, 0.493);
      opacity: 0.46;
    }

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      margin-inline: auto;
    }
  }

  .wrapper {
    height: 100%;
    flex: 1 1 auto;
    display: flex;

    .content {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      font-size: inherit;

      .contentWrapper {
        font: inherit;
        width: 100%;
        margin-inline: 3em;
        padding-inline: 1em;
        max-width: calc(742px + 2em);
        position: relative;
        padding-bottom: 120px;

        @media screen and (max-width: 850px) {
          margin-inline: 1em;
          padding-inline: 0.5em;
          padding-bottom: 20px;
          max-width: 500px;
        }

        & > p {
          margin-top: 0.75em;
        }

        ul > li {
          margin-bottom: 1em;
        }

        .btns {
          display: flex;
          justify-content: flex-start;
          margin-top: 1.4em;
          margin-bottom: 2.5em;
          flex-wrap: wrap;
          gap: 0.5em;
          font-size: 0.5em;
        }

        .logo {
          transform: translateY(-50%);
          width: clamp(100px, 15vw, 157px);
          height: clamp(100px, 15vw, 157px);
          filter: drop-shadow(0px 3.54802px 60.3164px rgba(0, 0, 0, 0.09));
          z-index: 10;
          background-color: #fff;
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          object-fit: contain;
        }

        h1 {
          margin-top: -5%;
          margin-bottom: 0.125em;

          @media screen and (max-width: 500px) {
            font-size: 1.75rem;
          }
        }
      }
    }
    .rightSidebar {
      flex-shrink: 0;
      min-width: min-content;
      width: 33vw;
      max-width: 491px;
      border-left: 1px solid #e6e6e6;
      padding: 90px 44px;

      section + section {
        margin-top: 2em;
      }

      section > p {
        margin: 0.1em 0;
      }
      section > h2 {
        margin-top: 1.5em;
      }
    }

    .timelineWrapper {
      & > %headings {
        margin-bottom: 0.5em;
      }
    }
  }
}
