@forward "reset";
@use "reset";

@forward "variables";
@use "variables";

body {
  font-family: variables.$font-family;
  font-size: map-get(variables.$font-sizes, 400);
  letter-spacing: -0.045em;
  background-color: variables.$clr-neutral-100;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: map-get(variables.$font-sizes, 900);
  font-weight: 700;
}
