@use "../../styles/styles" as var;

.wrapper {
  max-width: 320px;
  width: 100%;
  margin: 16px;
  height: 500px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 9px 1px 48px rgba(0, 0, 0, 0.08);

  // @media screen and (max-width: 850px) {
  //   max-width: 400px;
  //   width: 100%;
  //   .imgWrapper {
  //     height: 320px;
  //   }
  //   .content {
  //     font-size: 1.2rem;
  //     line-height: 1.5;
  //     gap: 15px;
  //     .title {
  //       font-size: 1.8rem;
  //     }
  //   }

  //   .vmBtn {
  //     font-size: 1.3rem;
  //     margin: auto;
  //     width: 98%;
  //     padding-block: 12px;
  //   }
  //}
  .utag {
    border-radius: 9999px;
    background-color: var.$clr-secondary-200;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 0.7rem;
    color: var.$clr-primary-500;
    top: 22px;
    right: 15px;
    position: absolute;
    display: flex;
    align-items: center;
  }
}
.imgWrapper {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  font-size: 1rem;
  padding: 0.8em 1em;
  gap: 7px;
  flex: 1 1 auto;
  max-height: calc(100% - 220px);

  .description {
    flex: 1 1 auto;
    p {
      $font-size: 1rem;
      $line-height: 1.3;
      $lines-to-show: 6;
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: 100%;
      max-height: calc(
        $font-size * $line-height * $lines-to-show
      ); /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      hyphens: auto;
    }
  }
  .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    width: 100%;
  }
  .org {
    font-weight: 400;
    font-size: 0.883rem;
  }
  .tags {
    display: flex;
    gap: 5px;
    .tag {
      border-radius: 9999px;
      background-color: var.$clr-primary-200;
      padding: 5px 15px;
      font-weight: 700;
      font-size: 0.7rem;
      color: var.$clr-primary-500;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
.vmBtn {
  margin-top: 5px;
  width: calc(100% + 0.8em);
  font-size: 0.8rem;
  padding-block: 10px;
  margin-inline: -0.4em;
}
