@use "../../styles/styles" as var;

.container {
  width: 100%;
  height: 100%;
  max-height: 100vh;

  .hero {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: stretch;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 850px) {
      &::before {
        background-image: url(../../assets/hero.webp);
        opacity: 0.3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (min-height: 1vw) and (min-width: 850px) {
      min-height: 45vh;
    }
    .Logo {
      position: absolute;
      top: 30px;
      left: 70px;

      @media screen and (max-width: 350px) {
        width: 100px;
      }
    }

    &Text {
      margin: auto;
      height: 100%;
      display: flex;
      flex: 1 1 724px;
      font-weight: 700;
      font-size: 5.75vw;
      text-align: center;
      line-height: 1;
      flex-direction: column;
      overflow: hidden;

      &Content {
        margin: auto;
        width: 12ch;
        max-width: 75%;
        line-height: 1.5;

        @media screen and (min-width: 850px) {
          line-height: unset;
          text-align: left;
        }
        @media screen and (min-width: 350px) {
          font-size: toRem(33.9);
        }
        @media screen and (max-width: 350px) {
          font-size: 10vw;
        }

        button {
          padding-top: 0.9em;
          padding-bottom: 0.7em;
          padding-inline: 2em;
          text-align: center;
          font-size: 0.31em;

          svg {
            margin-left: 0.25em;
            margin-right: 0;
          }
        }
      }
      &Title {
        margin: auto;
        color: var.$clr-primary-900;
      }
    }
    &Img {
      @media screen and (max-width: 850px) {
        display: none;
      }
      display: block;
      height: 100vh;
      width: 50vw;
      overflow: hidden;

      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
      }
    }
  }

  main {
    padding: 0px 60px;

    @media screen and (max-width: 850px) {
      padding: 0px 20px;
    }

    section + section {
      margin-top: 20px;
    }

    .orgs {
      position: relative;

      .btnBack {
        left: 0;
      }
      .btnNext {
        right: 0;
      }
      .btnBack,
      .btnNext {
        position: absolute;
        top: 50%;
        border-radius: 100%;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: var.$clr-primary-900;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 10px;
        --webkit-tap-highlight-color: transparent;
        transition: all 0.75s ease-in-out;
        transform: translateY(0);
        opacity: 1;
        &:disabled {
          transform: translateY(1000px);
          opacity: 0;
          box-shadow: 0;
        }
        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
      }

      .orgsContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
        padding: 1.5em 0em;

        @media screen and (max-width: 850px) {
          gap: 1.5vw;
        }

        .org {
          width: 20vw;
          height: 10vw;
          max-width: 256px;
          max-height: 142px;
          flex-shrink: 0;
          border: 1px solid rgba(147, 147, 147, 0.41);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 2vw;
          display: grid;
          place-items: center;
          background-color: white;
          @media screen and (max-width: 850px) {
            width: 35vw;
            height: 20vw;
            border-radius: 5vw;
          }
          img {
            max-height: 60%;
            max-width: 60%;
            margin: auto;
            object-fit: contain;
            overflow: hidden;
            user-drag: none;
            -webkit-user-drag: none;
            user-select: none;
          }
        }
      }
    }

    .categories {
      padding-top: 30px;
      &Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        @media screen and (max-width: 450px) {
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        gap: 1em;
        padding: 1.5em 0;
        place-items: center;
      }

      .categoryItem {
        @media screen and (max-width: 850px) {
          font-size: 0.75em;
        }
        @media screen and (max-width: 1000px) {
          font-size: 0.8em;
        }
        $bg-colors: (
          hsl(166, 43%, 56%),
          hsl(287, 54%, 46%),
          hsl(214, 100%, 56%),
          hsl(224, 54%, 12%),
          hsl(195, 74%, 53%),
          hsl(214, 81%, 65%)
        );
        @each $bg-clr in $bg-colors {
          $i: index($bg-colors, $bg-clr);
          &:nth-child(#{$i}) {
            background-color: $bg-clr;
          }
        }
        height: 12.5em;
        border-radius: 2em;
        overflow: hidden;
        border: none;
        --webkit-tap-highlight-color: transparent;
        position: relative;
        cursor: pointer;
        user-select: none;
        transition: transform, box-shadow 0.1s ease-in-out;

        &:hover {
          transform: scale(1.01);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        }

        &Text {
          width: 60%;
          padding: 2em 0 0 1.5em;
          color: var.$clr-neutral-100;

          p {
            font-size: 1.025em;
            color: rgba(255, 255, 255, 0.66);
            line-height: 1.02;
            opacity: 0; // Remove this hack before next release.
          }
        }

        &Img {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 55%;
          height: 100%;
          background-image: var.$category-image-scholar;
          background-repeat: no-repeat;
          background-position-x: 100%;
          background-position-y: bottom;
          background-size: 90%;
        }
      }
    }
  }

  .cards {
    display: flex;
    gap: 1.3em;
    padding-block-start: 1em;
    padding-bottom: 0;
    height: min-content;
    position: relative;
  }
  section:last-child {
    margin-bottom: 30px;
  }
}

.error {
  display: block;
  padding-left: 1em;
  color: grey;
  font-size: 1rem;
}
