@use "../../styles/styles" as var;

.container {
  width: 100%;
  height: 100%;
  max-height: 100vh;

  .hero {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: stretch;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 850px) {
      &::before {
        background-image: url(../../assets/hero.png);
        opacity: 0.3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        z-index: -1;
      }
    }

    @media screen and (min-height: 1vw) and (min-width: 850px) {
      min-height: 45vh;
    }
    .Logo {
      position: absolute;
      top: 30px;
      left: 70px;
    }

    &Text {
      margin: auto;
      height: 100%;
      display: flex;
      flex: 1 1 724px;
      font-weight: 700;
      font-size: 5.75vw;
      line-height: 1;
      flex-direction: column;
      overflow: hidden;

      &Content {
        margin: auto;
        width: fit-content;
        max-width: 75%;
        @media screen and (max-width: 850px) {
          font-size: 10vw;
          line-height: 1.5;
          text-align: center;
        }
        button {
          padding-top: 0.9em;
          padding-bottom: 0.7em;
          padding-inline: 2em;
          text-align: center;
          font-size: 0.31em;

          svg {
            margin-left: 0.25em;
            margin-right: 0;
          }
        }
      }
      &Title {
        margin: auto;
        color: var.$clr-primary-900;
      }
    }
    &Img {
      @media screen and (max-width: 850px) {
        display: none;
      }
      display: block;
      max-height: 100vh;
      max-width: 50%;
      overflow: hidden;

      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
      }
    }
  }

  main {
    padding: 0px 60px;

    @media screen and (max-width: 850px) {
      padding: 0px 20px;
    }

    section + section {
      margin-top: 20px;
    }

    .orgs {
      .orgsContent {
        display: flex;
        flex-wrap: wrap;
        gap: 1.3em;
        padding: 1.5em 0;

        .org {
          width: 256px;
          height: 142px;
          flex-shrink: 0;
          border: 1px solid rgba(147, 147, 147, 0.41);
          filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.11));
          border-radius: 27.411px;
          display: grid;
          place-items: center;
          img {
            max-height: 60%;
            margin: auto;
            object-fit: contain;
            overflow: hidden;
            user-drag: none;
            -webkit-user-drag: none;
            user-select: none;
          }
        }
      }
    }

    .categories {
      padding-top: 30px;
      &Content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        @media screen and (max-width: 450px) {
          grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        gap: 1em;
        padding: 1.5em 0;
        place-items: center;
      }

      .categoryItem {
        @media screen and (max-width: 850px) {
          font-size: 0.75em;
        }
        @media screen and (max-width: 1000px) {
          font-size: 0.8em;
        }
        $bg-colors: (
          hsl(166, 43%, 56%),
          hsl(287, 54%, 46%),
          hsl(214, 100%, 56%),
          hsl(224, 54%, 12%),
          hsl(195, 74%, 53%),
          hsl(214, 81%, 65%)
        );
        @each $bg-clr in $bg-colors {
          $i: index($bg-colors, $bg-clr);
          &:nth-child(#{$i}) {
            background-color: $bg-clr;
          }
        }
        height: 12.5em;
        border-radius: 2em;
        overflow: hidden;
        border: none;
        --webkit-tap-highlight-color: transparent;
        position: relative;
        cursor: pointer;
        user-select: none;
        transition: transform, box-shadow 0.1s ease-in-out;

        &:hover {
          transform: scale(1.01);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
        }

        &Text {
          width: 60%;
          padding: 2em 0 0 1.5em;
          color: var.$clr-neutral-100;

          p {
            font-size: 1.025em;
            color: rgba(255, 255, 255, 0.66);
            line-height: 1.02;
          }
        }

        &Img {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 55%;
          height: 100%;
          background-image: var.$category-image-scholar;
          background-repeat: no-repeat;
          background-position-x: 100%;
          background-position-y: bottom;
          background-size: 90%;
        }
      }
    }
  }

  .cards {
    display: flex;
    overflow-x: auto;
    gap: 1.3em;
    padding-block-start: 1em;
    padding-bottom: 0;
    .error {
      padding-left: 1em;
      color: grey;
      font-size: 1rem;
    }
  }
  section:last-child {
    margin-bottom: 30px;
  }
  .footer {
    background-color: var.$clr-neutral-100;
    border-top: 1px solid lightgrey;
    padding: 1rem;
    font-size: 1rem;
    color: grey;
    text-align: center;
  }
}
